{% extends "admin/base_site.html" %}
{% load i18n %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">{% trans "Django Admin" %}</a>
</h1>
{% endblock %}

{% block nav-global %}
  <div style="margin-right: 1em;">
    <form action="{% url 'set_language' %}" method="post">
      {% csrf_token %}
      <input name="next" type="hidden" value="{{ request.get_full_path }}" />
      <select name="language" onchange="this.form.submit()" style="padding: 2px 6px;">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% for lang_code, lang_name in LANGUAGES %}
          <option value="{{ lang_code }}" {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>
            {{ lang_name }}
          </option>
        {% endfor %}
      </select>
    </form>
  </div>
{% endblock %}
